body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

h2 {
  color: blue;
  text-align: center;
}

.container {
  background-color: #fff;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

input,
select {
  width: calc(100% - 20px);
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

#result {
  margin-top: 15px;
 
}
